
.title .blockquote-footer{
  margin-left:20%;
}
.card-body{
  position: relative;
}
.linkSection{
  position: absolute;
  right: 20px;
  bottom:20px;
}
.card .app-icon{
  height:100px;
  width:100px;
}
.card .updateTime{
  font-size:x-small;
}
.admin.container{
  margin-top:100px;
}
.admin .btn.createApp{
  position: relative;
  top:50%;
  right:0;
  transform:translateY(-50%);
}

.fa-edit,.fa-trash-alt{
  cursor:pointer;
}
