
.title .blockquote-footer{
  margin-left:20%;
}

.card .app-icon{
  height:100px;
  width:100px;
}

.admin.container{
  margin-top:100px;
}
.admin .btn.createApp{
  position: relative;
  top:50%;
  right:0;
  transform:translateY(-50%);
}

